.lane header {
  padding: 16px 16px 0px 16px;
  color: white;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
}

.lane header > h3 {
  font-size: 0.85rem;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.03rem;
}