.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo-container img {
  height: 36px;
  width: 31px;
}

.logo-container h2 {
  margin-left: 8px;
  text-transform: uppercase;
  padding-top: 3px;
}


.app-name {
  height: 36px;
  font-size: 1.45rem;
  line-height: 1.45rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top:2.5px;
  box-sizing: border-box;
}