.priority-indicator {
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  width: max-content;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,7%);
}

.priority-text {
  text-transform: uppercase;
  font-size: 0.65rem;
  text-align: center;
  letter-spacing: 0.5px;
}