.dropdown-button {
  background: none;
  border: none;
  padding: 8px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.dropdown-button:hover {
  background-color: rgba(255,255,255,5%);
}