.avatar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,7%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 0.65rem;
  border: 1.25px solid white;
  letter-spacing: 1px;
}

.online {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 9px;
  height: 9px;
  background-color: dodgerblue;
  border-radius: 50%;
}