.dropdown-list {
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
  height: fit-content;
  background-color: #474951;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 5;
  box-shadow: rgba(12, 12, 13, 0.2) 0px 1px 8px 0px;
  padding: 8px 0 8px 0;
}